<head>
   <nav class="navbar navbar-default">
    <div class="container-fluid">
      <a routerLink="/parent-portal" class="back">Back</a>
    </div>
  </nav> 
  <script type="text/javascript" src="/src/assets/parentPortalJS/login.js"></script>
</head>

<body>
  <div class="signup-page">
    <form id="signUp" method="POST" name="signup" (ngSubmit)="onSubmitSignUp()">
      <fieldset>
        <legend>Sign Up</legend>
        <div class="form-group">
          <label for="Email"> Email: </label>
          <input id="Email" type="email" class="form-control" [(ngModel)]="parentPortalSign.Email" name="Email" ng-required="true" />
          
          <label for="PhoneNo"> Phone Number: </label>
          <input id="PhoneNo" type="tel" class="form-control" [(ngModel)]="parentPortalSign.PhoneNo" name="PhoneNo" required minlength="8" maxlength="8"/>
          
          <label for="Password"> Password: </label>
          <input id="Password" type="password" class="form-control" [(ngModel)]="parentPortalSign.Password" name="Password" required />
        </div>
  
        <div class="form-group">
          <button id="login" type="submit" class="btn btn-success" (click)="hashPwd()">Sign Up</button>
        </div>
      </fieldset>
    </form>
    <a routerLink="/../"><button class="btn btn-warning">Log In</button></a>
  </div>
  
  <!-- <form (ngSubmit)="onSubmit()">
    <div *ngIf="success" class="alert alert-success alert-dismissble">
        <a href="/src/app/home/home.component.html" class="close">&times;</a>
        <strong>Logged in successfully!</strong>
    </div>
  </form> -->
  
  <!-- &#160; is for spacing 
  Username: &#160; 
  <input type="text" name="username" id="username" placeholder="Enter Username Here" requried />
  <br> -->
  
  <!-- &#160; is for spacing
  Password: &#160;&#160;  
  <input type="password" id="password" placeholder="Enter Password Here" required />
  <br>
  <input type="submit" value="Submit" onclick="check(this.form)">  
  </body> -->
    <!-- </fieldset>
  </form>
</div> -->