<div class="row">
  <div class="col-12 grid-margin">
    <div class="card card-statistics">
      <div class="row">
        <div class="card-col col-xl-3 col-lg-3 col-md-3 col-6">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-center flex-column flex-sm-row">
              <h2 class="mb-0 font-weight-medium">Academic Dashboard</h2>
              
            </div>
          </div>
        </div>
        
        
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title">Learning Style</h1>
        <div class="d-flex justify-content-center" *ngIf="style_img as variable">
          <img src={{variable}}/>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-9 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <select class="form-control border-info" id="exampleSelectInfo">
            <option>Kinesthetic</option>
            <option> Auditory</option>
            <option> Visual </option>
            
          </select>
        </div>
        <p class="text-gray">ABOUT THIS STYLE</p>
        <ul class="bullet-line-list pb-3">
          <li>
            <div class="d-flex align-items-center justify-content-between">
              <div class="d-flex">
                <div class="ml-3">
                  <h6 class="mb-0">Kinesthetic/Tactile learning is a style of learning in which an individual learns most efficiently through participating in activities and doing things. <br/> Kinesthetic/Tactile learners retain information better when it is delivered through exploring a subject themselves rather than written or audio form. <br/>

                    A child who is an kinesthetic/tactile learner relies on action and engagement as their primary way of learning. Many kinesthetic/tactile learners may experience challenges when instructions or information are given in written or verbal form but can clearly understand them when they are able to try out the activity for themselves or take notes.</h6>
                </div>
              </div>
            </div>
          </li>
          
        </ul>
        <p class="text-gray mt-4">WAYS TO LEARN/ENGAGE</p>
        <ul class="bullet-line-list">
          <li>
            <div class="d-flex align-items-center justify-content-between">
              <div class="d-flex">
                <div class="ml-3">
                  <h6 class="mb-0">Read stories/texts aloud</h6>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="d-flex align-items-center justify-content-between">
              <div class="d-flex">
                <div class="ml-3">
                  <h6 class="mb-0">Teach them songs and rhymes to sing</h6>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="d-flex align-items-center justify-content-between">
              <div class="d-flex">
                <div class="ml-3">
                  <h6 class="mb-0">Engage them in conversation</h6>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <p style="margin-top: 70px">Source: https://abilitypath.org/ap-resources/childrens-learning-styles/</p>
      </div>
    </div>
  </div>
</div>


