.navbar {
    margin-top: 0%;
    background: #123C69;

    .back {
        margin: 0; padding: 0;
        padding: 1.0em;
        text-transform: uppercase;
        font-size: .8em;
        color: white;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
    }
    
    a.back {
        &:hover {
            background:  rgb(10, 26, 43);           
            text-decoration: none;
            color: #89caff;
			text-align: center;
			margin-left: auto;
			margin-right: auto;
        }
    }
}

.details{
    margin-top: 3%;
	text-align: center;
}

table, th, td {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
  }

  th, td {
    padding: 5px;
    text-align: center;    
  }

  table{
  width: 50%;
  margin: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  }