<!-- <div class="card mt-2" *ngFor="let contato of contatos | async">
  <div class="card-body">
    <h3 class="card-title"> {{contato.Name}}</h3>
    <p class="card-text">Student: {{contato.Student}}</p>
    <p class="card-text">Date : {{contato.Date}}</p>
    <p class="card-text">Completion Status : {{contato.CompletionStatus}}</p>
  </div>
  <div class="card-footer">
    <button type="button" class="btn btn-primary" (click)="edit(contato, contato.key)">Edit</button>
    <button type="button" class="btn btn-danger ml-2" (click)="delete(contato.key)">Delete</button>
  </div>
</div> -->

<div class="row">
  <div class="col-lg-8 search">
    <input class="form-control" placeholder="Serach..." [(ngModel)]="searchText">
  </div>
  <div class="col-lg-12 table-responsive">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th style="width:21%;"(click)="sort('Student')" type="button">Student <img class="sort" src="https://img.icons8.com/color/16/ffffff/sort.png"></th>
        <th style="width:21%;" (click)="sort('Name')" type="button">Homework <img class="sort" src="https://img.icons8.com/color/16/ffffff/sort.png"></th>
        <th style="width:21%;" (click)="sort('Date')" type="button">Due Date <img class="sort" src="https://img.icons8.com/color/16/ffffff/sort.png"></th>
        <th style="width:21%;">Completion Status</th>
        <th style="width:16%;"></th>
      </tr>
    </thead>
    <ng-container *ngFor="let contato of contatos | async | orderBy: key : reverse | filter: searchText | paginate: { itemsPerPage: 6, currentPage: p }">
      <tr>
        <td>{{contato.Student}}</td>
        <td>{{contato.Name}}</td>
        <td>{{contato.Date}}</td>
        <td>{{contato.CompletionStatus}}</td>
        <td>
            <button type="button" class="btn btn-sm btn-primary" (click)="edit(contato, contato.key)">Edit</button>
            <button type="button" class="btn btn-sm btn-danger ml-2" (click)="openConfirmationDialog(contato.key, contato.Student, contato.Name)">Delete</button>
        </td>
      </tr>
    </ng-container>
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
