<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<header *ngIf="nav.visible">
    <div class="container1" *ngIf="this.loggedIn == true; else elseBlock">
        <a routerLink="/phome" class="logo">MimiBot Portal</a>
        <nav>
          <ul>
            <li onclick="location.reload();"><a routerLink="/homework">Homework</a></li>
            <li><a routerLink="/quiz">Quiz</a></li> 
            <li><a routerLink="/bully-report">Bully Report</a></li>
            <li><a routerLink="/phq-report">Health</a></li>
            <li><a routerLink="/phq">Mood</a></li>
            <li><a routerLink="/point-system">Point System</a></li>
            <li><a routerLink="/point-system-task">Point System Task</a></li>
            <li><a routerLink="/point-system-rewards">Rewards</a></li>
            <li><a routerLink="/PCRAReport">PCRA Report</a></li>
            <li><a routerLink="/child-insight">Child Insight</a></li>
            <li><a routerLink="/hobbies">Hobbies</a></li>
            <li><a routerLink="/dash-overall">Dashboard</a></li>
            <li *ngIf="userType == 'Teacher';"><a><mat-icon [matBadge]="badgeContent.length" accent="warn" [matBadgeHidden]="hideMatBadge" (click)="goToNotifs()">notifications</mat-icon></a></li>
            <li><a routerLink="" (click)="LogOut()"> LogOut </a></li>
          </ul>
        </nav>
      </div>
      <ng-template #elseBlock>
    <!--<div class="container1">
      <a routerLink="/" class="logo">MimiBot Portal</a>
      <nav>
        <ul>
          <li onclick="location.reload();"><a routerLink="/homework">Homework</a></li>
          <li><a routerLink="/quiz">Quiz</a></li> 
          <li><a routerLink="/bully-report">Bully Report</a></li>
          <li><a routerLink="/phq-report">Health</a></li>
          <li><a routerLink="/point-system">Point System</a></li>
          <li><a routerLink="/point-system-task">Point System Task</a></li>
          <li><a routerLink="/">Rewards</a></li>
          <li><a routerLink="/PCRAReport">PCRA Report</a></li>
          <li><a routerLink="/child-insight">Child Insight</a></li>
          <li><a routerLink="/hobbies">Hobbies</a></li>
          <li><a routerLink="/">Login</a></li>
        </ul>
      </nav>
    </div>-->
      </ng-template>
  </header>
