<html>
<body>
    
<h2 class="header"><b>Hobbies</b></h2>


<div class="chart">
    <div id="pie">
        <div id="pieLoad">
                <iframe src="https://giphy.com/embed/9DaWtzJV7WZpxQVzNz" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        </div>
        <div id = "pieChartHob">
        <canvas id = "pieChart"></canvas>
        </div>
    </div>
    <div id="bar">
        <div id="barLoad">
                <iframe src="https://giphy.com/embed/9DaWtzJV7WZpxQVzNz" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        </div>
        <div id = "barChartHob">
        <canvas id = "barChart"></canvas>
        </div>
    </div>  
</div>

<div class="div2">
    <app-list5></app-list5>
</div>

</body>
</html>