<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.rawgit.com/BrainJS/brain.js/45ce6ffc/browser.js"></script>
  <title>Document</title>
</head>
<body>
  <h2 class="header">Hobby Insight</h2>
    <div> 
    <p style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif" style="text-align:center">
      Get the latest insights now if there are any.&nbsp; &nbsp; 
      <button class="btn btn-warning" (click)="predict()">Generate</button>
    </p>
  </div>

  <div id="alert">
    <div *ngIf="success" class="alert alert-success alert-dismissible">
        <a (click)="close()" class="close" style="margin-top: -10px;" data-dismiss="alert" aria-label="close">&times;</a>
        There are nothing to update. <strong>Insight is up to date!</strong> 
    </div>
  </div>

  <!--<h2 *ngIf="isTeacher">Welcome Teacher</h2>
  <h2 *ngIf="!isTeacher">Welcome Parent</h2>-->

  <div *ngIf="loader" id="loader"></div>

  <!--<div *ngIf="userType === 'Teacher'">
    <select [(ngModel)]="selectedStudentName" (change)="selected()">
      <option *ngFor="let name of studentsName" [ngValue]="name.Name">{{ name.Name }}</option>
    </select>
  </div>-->
  
  <div id = "hBarChart1">
    <!--<h2 id="childChartTitle" *ngIf="childName != null">{{ childName }}'s Chart</h2>-->
    <canvas id = "hBarChart"></canvas>
  </div>

  <div class="circle-bar">

    <button class="btnbar" (click)="wordList('Enjoy')">
      <circle-progress [percent]="getEnjoyPercent()" [radius]="80" [outerStrokeWidth]="14" [innerStrokeWidth]="14" [space]="-13"
          [outerStrokeColor]="'#E63C5E'" [innerStrokeColor]="'#FF9AAE'" [animation]="true" [animationDuration]="350" 
          [outerStrokeLinecap]="'butt'" [subtitle]="'Enjoy'" [titleFontSize]="28" [unitsFontSize]="15" [subtitleFontSize]="25" 
          [subtitleFontWeight]="530" [titleColor]="'#A9A9A9'" [unitsColor]="'#A9A9A9'" [subtitleColor]="'#666666'">
      </circle-progress>
    </button>

    <button class="btnbar" (click)="wordList('Average')">
      <circle-progress [percent]="getAveragePercent()" [radius]="80" [outerStrokeWidth]="14" [innerStrokeWidth]="14" [space]="-13"
          [outerStrokeColor]="'#FF8C00'" [innerStrokeColor]="'#FFD281'" [animation]="true" [animationDuration]="350" 
          [outerStrokeLinecap]="'butt'" [subtitle]="'Average'" [titleFontSize]="28" [unitsFontSize]="15" [subtitleFontSize]="25" 
          [subtitleFontWeight]="530" [titleColor]="'#A9A9A9'" [unitsColor]="'#A9A9A9'" [subtitleColor]="'#666666'"> 
      </circle-progress>
    </button>

    <button class="btnbar" (click)="wordList('Dislike')">
      <circle-progress [percent]="getDislikePercent()" [radius]="80" [outerStrokeWidth]="14" [innerStrokeWidth]="14" [space]="-13"
          [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="350" 
          [outerStrokeLinecap]="'butt'" [subtitle]="'Dislike'" [titleFontSize]="28" [unitsFontSize]="15" [subtitleFontSize]="25" 
          [subtitleFontWeight]="530" [titleColor]="'#A9A9A9'" [unitsColor]="'#A9A9A9'" [subtitleColor]="'#666666'"> 
      </circle-progress>
    </button>

    <!--<button class="btnbar" (click)="wordList('Super Dislike')">
      <circle-progress [percent]="getSuperDislikePercent()" [radius]="80" [outerStrokeWidth]="14" [innerStrokeWidth]="14" [space]="-13"
          [outerStrokeColor]="'#61C0FF'" [innerStrokeColor]="'#C3E8FF'" [animation]="true" [animationDuration]="350" 
          [outerStrokeLinecap]="'butt'" [subtitle]="'Sad'" [titleFontSize]="28" [unitsFontSize]="15" [subtitleFontSize]="25" 
          [subtitleFontWeight]="530" [titleColor]="'#A9A9A9'" [unitsColor]="'#A9A9A9'" [subtitleColor]="'#666666'"> 
      </circle-progress>
    </button>-->
   </div>

    <div id = "stackBarChart1">
      <canvas id = "stackBarChart"></canvas>
    </div>

    <div class="row">
    <div class="col-lg-9 search">
      <input class="form-control" placeholder="Search..." [(ngModel)]="searchText">
    </div>
    </div>    

    <div class="col-lg-12" table-responsive> 
      <br>  
      <table class="table">
      <thead class="thead-light">
        <tr>
          <th (click)="sort('Name')">Name</th>
          <th (click)="sort('Hobby')">Hobby</th>
          <th (click)="sort('Enjoyment')">Enjoyment</th>
          <th (click)="sort('Reason')">Reason</th>
        </tr>
      </thead>
      <ng-container *ngFor="let list of allHobby| filter: selectedHobbyName | filter: searchText | filter: searchDDL | orderBy: key : reverse | paginate: { itemsPerPage: 8, currentPage: p}">
        <tr>
          <td width = "20%">{{ list.Name }}</td>
          <td>{{ list.Hobby }}</td>
          <td>{{ list.Enjoyment }}</td>
          <td>{{ list.Reason }}</td>
        </tr>
      </ng-container>
    </table>
    <br>
    <div class="col-12 justify-content-left">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
   </div>
</body>
</html>