.minColor{
    float: left;
    margin-right: 3%;
}

.maxColor{
    float: left;
}

.lblMin, .lblMax{
   margin-left: 5px; 
   font-size: 12px; 
   font-family: Verdana
}

body{
    margin-bottom: 28%;
    text-align: center;
    width: 100%;
}

.ddbl{
    margin-left: 28.5%;
}