
.details{
    margin-top: 3%;
}

table, th, td {
    border: 0.1px solid lightgrey;
    border-collapse: collapse;
  }

  th, td {
    padding: 10px;
    text-align: left;    
  }

  table{
      width: 98%;
      margin: auto;
  }
.chart{
  margin:auto;
  text-align: center;
  width: 100%;
  margin-bottom: 10%;
}
.right {
  width: 40%;
  margin-left: 10%;
}
