<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="row">
    <div class="col-lg-8 search">
      <input class="form-control" placeholder="Serach..." [(ngModel)]="searchText">
    </div>
    <div class="col-lg-4">
      <button class = "insight" (click)="viewInsight()"><span>More Mood Insights</span></button>
    </div>
    <div class="col-lg-12 table-responsive">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th width = "25%" (click)="sort('name')" type="button"> Name <img class="sort" src="https://img.icons8.com/color/16/ffffff/sort.png"></th>
          <th width = "25%" (click)="sort('date')" type="button"> Date <img class="sort" src="https://img.icons8.com/color/16/ffffff/sort.png"></th>
          <th width = "25%" (click)="sort('mood')" type="button"> Mood <img class="sort" src="https://img.icons8.com/color/16/ffffff/sort.png"></th>
          <th width = "25%" (click)="sort('moodReason')" type="button"> Reason <img class="sort" src="https://img.icons8.com/color/16/ffffff/sort.png"></th>
        </tr>
      </thead>
      <ng-container *ngFor="let contato6 of contatos6 | async | orderBy: key : reverse | filter: searchText | paginate: { itemsPerPage: 6, currentPage: p }">
        <tr>
          <td>{{contato6.name}}</td>
          <td>{{contato6.date}}</td>
          <td>{{contato6.mood}}</td>
          <td>{{contato6.moodReason}}</td>
        </tr>
      </ng-container>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</body>
</html>