<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div>
      <input class="form-control" placeholder="Enter ChildName" [(ngModel)]="searchText">
    </div>
    <div class="col-lg-12" table-responsive >
      <br>
      <table class="table" >
         <thead class="thead-light">
         <tr>
            <th width ="10%">Name</th>
			<!-- <th style="width:3%;"></th> -->
            <th width ="20%">Available Points</th>
			<!-- <th width ="20%">On Hold Points</th> -->
			<!-- <th width ="20%">Used Points</th> -->
            <th width ="20%">Total Points</th>
            <!-- <th></th> -->
         </tr> 
      </thead>   
      <ng-container *ngFor="let contato7 of contatos7 | async | orderBy: key : reverse | filter: searchText | paginate: { itemsPerPage: 10, currentPage: p }"> 
         <tr>
		  <td width ="10%"(click)="viewDetails(contato7.key)" >{{contato7.ChildName}}</td>
		  <!-- <td><button class="btn btn-sm action" (click)="viewDetails(contato7.key)" type="button"> -->
              <!-- <img  width="40px" height="40px" src="https://img.icons8.com/dusk/64/000000/multi-edit.png"/> -->
              <!-- <a href="https://icons8.com/icon/19171/forward-button"></a> -->
          <!-- </button></td> -->
          <td width ="21%" (click)="viewDetails(contato7.key)" >{{contato7.Available}}</td>
		  <!-- <td width ="21%">{{contato7.On_Hold}}</td> -->
		  <!-- <td width ="21%">{{contato7.Used}}</td> -->
          <td width ="21%" (click)="viewDetails(contato7.key)" >{{contato7.Total}}</td>
          <!-- <td><button class="btn btn-sm action" (click)="viewDetails(contato7.key)" type="button"> -->
              <!-- <img src="https://img.icons8.com/color/30/000000/circled-right-2.png"> -->
              <!-- <a href="https://icons8.com/icon/19171/forward-button"></a> -->
          <!-- </button></td> -->
        </tr>
      </ng-container>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</body>
</html>