<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="row">
    <div class="col-lg-8 search">
      <input class="form-control" placeholder="Search..." [(ngModel)]="searchText">
    </div>
  </div>

    <div class="col-lg-12" table-responsive >
      <br>
        <table class="table" >
          <thead class="thead-light">
          <tr>
              <th width ="30%">Name</th>
              <th width ="30%">Date</th>
              <th></th>
          </tr> 
        </thead>   
        <ng-container *ngFor="let contato6 of contatos6 | async | orderBy: key : reverse | filter: searchText | paginate: { itemsPerPage: 10, currentPage: p }"> 
          <tr>
            <td width ="32%">{{contato9.name}}</td>
            <td width ="30%">{{contato9.date}}</td>
          </tr>
        </ng-container>
      </table>
    </div>
</body>
</html>